




html {
	background-color: #000;
}

body {
	width: 761px;
	margin: 1.5em auto;
	border-color: #000000;
	border-width: 10px;
	background-color: #fff;
	background-image: url("onion_dip.jpeg");
	background-repeat: no-repeat;
	background-position: right top;
	padding: 50px;
}

h1 {
	text-align: center;
	background-color: #fff;
	color: #000000;
	font-family: cursive;
	font-size: 30px;
	font-weight: lighter;
}

h2 {
	padding: 7px;
	color: #000000;
	text-decoration: underline;
	font-weight:lighter;
}


ul {
	color: #000000;
	list-style-type: none;
	text-align: center;
}


p {
	color: #000000;
}

div {
	background-color: #FFEBCD;
	border-style: ridge;
	padding: 10px;
}

img {
	border-color: #800000;
	border-width: 5px;
	align-content: center;
}

#header {
	text-align: left;
	width: 320px;
	margin-top: 1px;
}

.notepad {
	text-align: center;
	font-family: cursive;
	font-weight:lighter;
	padding-left: 5px;
}

a {
  font-weight: bold;
  color: #800000;
}

a:hover {
	text-decoration: none;
	color: #000000;
}
